.idea
*.iml
node_modules
# yarn.lock

/coverage
/src/client/shared.ts
/src/node/shared.ts
*.log
*.tgz
.DS_Store
.temp
.vite_opt_cache
.vscode
dist
cache
temp
examples-temp
pnpm-global
TODOs.md
*.timestamp-*.mjs